<div class="p-5 flex flex-col gap-4">
    
        <div routerLink="create" class="w-full justify-center cursor-pointer flex md:w-1/5 ma-4 p-3 rounded-lg bg-blue-600 text-white">
            اضافه کردن بازیکن
        </div>

<div dir="rtl" class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    نام
                </th>
                <th scope="col" class="px-6 py-3">
                    سطح
                </th>
                <th scope="col" class="px-6 py-3">
                    شماره تلفن
                </th>
            </tr>
        </thead>
        <tbody>
            @for (item of users; track $index) {
            <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700 border-gray-200">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{item?.name}}
                </th>
                <td class="px-6 py-4">
                    {{item?.grade}}
                </td>
                <td class="px-6 py-4">
                    {{item.phone}}
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

</div>