<div class="flex flex-col w-full p-6">
    <div class="flex w-full gap-4 p-10 border border-teal-400 rounded-3xl bg-teal-400/10">
        <div class="hidden md:block w-1/2">
            <img src="assets/images/business-innovation-new-idea-process-and-creative-thinking-concept-for-business-web-landing-page-social-media-banner-presentation-background-illustration-vector.jpg" alt="">
        </div>
        <form dir="rtl" [formGroup]="formgroup" class="w-full md:w-1/2 mx-auto">
            <div class="relative z-0 w-full mb-5 flex flex-col">
                <label for="floating_name" class="text-base text-gray-800">نام*</label>
                <div class="max-w-sm mx-auto">
                    <select required id="name" class="bg-gray-50 border border-gray-300 text-base rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 text-white dark:focus:border-blue-500" formControlName="name">
                        <option selected>یک شخص را انتخاب کنید</option>
                        @for (item of users; track $index) {
                            <option [value]="item.id">{{item.name}}</option>
                        }
                    </select>
                </div>

            </div>
            <div class="relative z-0 w-full mb-5 flex flex-col">
                <label for="floating_name" class="text-base text-gray-800">نام بازی*</label>
                <div class="max-w-sm mx-auto">
                    <select id="game" class="bg-gray-50 border border-gray-300 text-base rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 text-white dark:focus:border-blue-500" formControlName="game">
                        <option selected>یک بازی را انتخاب کنید</option>
                        @for (item of games; track $index) {
                            <option [value]="item.name_en">{{item.name}}</option>
                        }
                    </select>
                </div>
            </div>
            <div class="relative z-0 w-full mb-5 group">
                <input formControlName="score" type="number" name="floating_score" id="floating_score" class="block py-2.5 px-0 w-full text-base text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder="" required />
                <label for="floating_score" class="peer-focus:font-medium absolute text-base text-gray-800 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">امتیاز*</label>
            </div>
            <button (click)="submit()" type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-base w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">ثبت امتیاز</button>
        </form>
    </div>
</div>